$triangle_size: 3px;
$triangle_thickness: 2px;
$transition_time: 0.4s ease;
.nav__container {
  background-color: #243448;
  width: 100%;
  height: $navbar-height;
  padding: 20px;
  position: fixed;
  filter: drop-shadow(0 40px 50px #00000060);
}

.nav__header {
  display: inline;
  & a {
    transition: $transition_time;
  }

  &:hover a {
    cursor: pointer;
    color: $link_active;
    transition: $transition_time;
  }
}
.nav__item {
  display: inline;
  float: right;
  margin: 0px 10px;
  font-size: 1rem;

  a {
    &:hover {
      cursor: pointer;
      color: $link_active;
      transition: $transition_time;
    }
    transition: $transition_time;
    text-decoration: none;
  }

  &__drop {
    display: inline;
    float: right;
    margin: 0px 10px;
    font-size: 1rem;
  }
}
.dropdown {
  &__active {
    &:hover {
      cursor: pointer;
    }
    color: $link_active;
  }
  &__decoration {
    border: solid #e5effe;
    border-width: 0 $triangle_thickness $triangle_thickness 0;
    display: inline-block;
    padding: $triangle_size;
    margin-left: 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: $transition_time;

    &__active {
      border: solid $link_active;
      border-width: 0 $triangle_thickness $triangle_thickness 0;
      display: inline-block;
      padding: $triangle_size;
      margin-left: 10px;
      transform: rotate(225deg);
      -webkit-transform: rotate(225deg);
      transition: $transition_time;
    }
  }
}
.dropdown__item {
  pointer-events: none;
  transition: $transition_time;
  transform: translateY(200px);
  opacity: 0;
  &__active {
    background-color: #e5effe;
    padding: 10px 0;
    margin-right: -35px;
    transition: $transition_time;
    opacity: 1;
    transform: translateY(0vh);
    & a {
      padding: 0 25px;
      text-decoration: none;
      color: $link_active;
      transition: $transition_time;
      &:hover {
        cursor: pointer;
        transition: $transition_time;
        color: $drop_active;
      }
    }
  }
}

.menu {
  display: none;
  top: 3vh;
  width: 31px;
  height: 21px;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}

.menu .bar {
  height: 3px;
  width: 100%;
  background-color: $text-color;
  border-radius: 10px;
}

@media (max-width: 900px) {
  .nav__container {
    padding: 0;
  }
  .menu {
    display: flex;
    left: 48%;
  }
  .nav__item,
  .nav__header,
  .nav__item__drop {
    display: none;
  }
  .nav__item__burger,
  .nav__header__burger,
  .nav__item__drop__burger {
    & a {
      text-decoration: none;
      color: $text-color;
    }
    display: grid;
    width: 100vw;
    background-color: $background;
    grid-template-rows: repeat(1, 1fr);
    justify-content: center;
  }
  .nav__item__burger,
  .nav__item__drop__burger {
    padding: 5px 0;
  }

  .dropdown__decoration__active {
    border: solid #e5effe;
    border-width: 0 $triangle_thickness $triangle_thickness 0;
    display: inline-block;
    padding: $triangle_size;
  }
  .dropdown__item {
    display: none;
    opacity: 0;
    &__active {
      margin-left: -40px;
      background-color: $background;
      transition: $transition_time;
      text-align: center;
      & a {
        text-decoration: none;
        color: $text-color;
      }
    }
  }
  .nav__links {
    display: block;
    margin-top: 75px;
  }
}
