$image-size: 500px;

.project__container {
  padding: 30vh 0;
  background-color: $background;
  display: grid;
  grid-template-rows: auto auto auto;
  row-gap: 50px;
  align-items: center;
  justify-content: baseline;
}

.test {
  display: grid;
  grid-template-columns: $image-size auto;
  column-gap: 20px;
  margin: 0 2vw;
  overflow: hidden;
}
.project__header {
  font-weight: 700;
  font-size: 1.5rem;
}
.project__image {
  width: $image-size;
}
